!!! 5
%html(ng-app="hnlulz")
  %head
    %script(src='http://code.angularjs.org/angular-1.0.0rc10.min.js')
    %script(src='/app.js')
    %link(rel="stylesheet" type="text/css" href="/style.css")
  %body(ng-controller="Main")
    %ul.articles
      %li.article(ng-hide="articles")
        %h1.title Loading...
      %li.article(ng-repeat="article in articles" ng-class="articleClass(article)")
        %a(ng-href='{{article.link}}' ng-click="show(article, $event)")
          %span.pre
            %span.score {{article.score}}
            %span.domain {{article.domain}}
          %h1.title {{article.title}}
          %span.post
            %span.age posted {{article.age}}
            %span.user {{article.user}}
            %span.comments(ng-click='showComments(article, $event)') {{article.comments}}
    %iframe.viewer(ng-src="{{selectedUrl}}")
