%html
  %head
    %link{:href => "http://ycombinator.com/news.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://ycombinator.com/favicon.ico", :rel => "shortcut icon"}/
    :javascript
      function byId(id) {
        return document.getElementById(id);
      }

      function vote(node) {
        var v = node.id.split(/_/);   // {'up', '123'}
        var item = v[1];

        // hide arrows
        byId('up_'   + item).style.visibility = 'hidden';
        byId('down_' + item).style.visibility = 'hidden';

        // ping server
        var ping = new Image();
        ping.src = node.href;

        return false; // cancel browser nav
      }     %title Hacker News
  %body
    %center
      %table{:bgcolor => "#f6f6ef", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "85%"}
        %tr
          %td{:bgcolor => "#ff6600"}
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding:2px", :width => "100%"}
              %tr
                %td{:style => "width:18px;padding-right:4px"}
                  %a{:href => "http://ycombinator.com"}
                    %img{:height => "18", :src => "http://ycombinator.com/images/y18.gif", :style => "border:1px #ffffff solid;", :width => "18"}/
                %td{:style => "line-height:12pt; height:10px;"}
                  %span.pagetop
                    %b
                      %a{:href => "news"} Hacker News
                    %img{:height => "1", :src => "http://ycombinator.com/images/s.gif", :width => "10"}/
                    %a{:href => "newest"} new
                    |
                    %a{:href => "threads?id=geelen"} threads
                    |
                    %a{:href => "newcomments"} comments
                    |
                    %a{:href => "ask"} ask
                    |
                    %a{:href => "jobs"} jobs
                    |
                    %a{:href => "submit"} submit
                %td{:style => "text-align:right;padding-right:4px;"}
                  %span.pagetop
                    %a{:href => "user?id=geelen"}> geelen
                    \&nbsp;(67)&nbsp;|&nbsp;
                    %a{:href => "/r?fnid=gWDXpcNnUC"} logout
        %tr{:style => "height:10px"}
        %tr
          %td
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td.title{:align => "right", :valign => "top"} 1.
                %td
                  %center
                    %a#up_4259441{:href => "vote?for=4259441&dir=up&by=geelen&auth=7a2b0c9bc523ccbf79fe87431be7f9809a130f3f&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4259441
                %td.title
                  %a{:href => "http://www.networkworld.com/community/blog/hope-9-whistleblower-binney-says-nsa-has-dossiers-nearly-every-us-citizen"} Whistleblower Binney says the NSA has dossiers on nearly every US citizen
                  %span.comhead (networkworld.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4259441 89 points
                  by
                  %a{:href => "user?id=gasull"} gasull
                  3 hours ago  |
                  %a{:href => "/r?fnid=v1zj9pu5cZ"} flag
                  |
                  %a{:href => "item?id=4259441"} 44 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 2.
                %td
                  %center
                    %a#up_4259602{:href => "vote?for=4259602&dir=up&by=geelen&auth=390bbf9c92e27929296b6d91db70760f09185a7f&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4259602
                %td.title
                  %a{:href => "http://coderwall.com/p/xczkaq"} GIT is the new FTP
                  %span.comhead (coderwall.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4259602 50 points
                  by
                  %a{:href => "user?id=bitsweet"} bitsweet
                  2 hours ago  |
                  %a{:href => "/r?fnid=N11pMxGxKl"} flag
                  |
                  %a{:href => "item?id=4259602"} 22 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 3.
                %td
                  %center
                    %a#up_4258458{:href => "vote?for=4258458&dir=up&by=geelen&auth=9b673485cf0a3d16dde7963f56f021f8ec373fc0&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4258458
                %td.title
                  %a{:href => "http://sriramk.com/unsolicitedyahoo.html"} Advice for Marissa Mayer from an ex-Yahoo
                  %span.comhead (sriramk.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4258458 312 points
                  by
                  %a{:href => "user?id=sriramk"} sriramk
                  8 hours ago  |
                  %a{:href => "/r?fnid=SnxdQaGqXZ"} flag
                  |
                  %a{:href => "item?id=4258458"} 192 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 4.
                %td
                  %center
                    %a#up_4258587{:href => "vote?for=4258587&dir=up&by=geelen&auth=20107302dea168e6f61b9f04ac3ab3a1175e850e&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4258587
                %td.title
                  %a{:href => "http://www.noisemademedoit.com/miles-davis-blind-listening-test/"} Miles Davis – blind listening test
                  %span.comhead (noisemademedoit.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4258587 168 points
                  by
                  %a{:href => "user?id=mactac"} mactac
                  8 hours ago  |
                  %a{:href => "/r?fnid=QY1XCjAbMs"} flag
                  |
                  %a{:href => "item?id=4258587"} 47 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 5.
                %td
                  %center
                    %a#up_4259421{:href => "vote?for=4259421&dir=up&by=geelen&auth=6bec885b1e9e111d01cace47adb1f26437a118e2&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4259421
                %td.title
                  %a{:href => "http://www.nzherald.co.nz/nz/news/article.cfm?c_id=1&objectid=10820496"} Dotcom judge quits the case
                  %span.comhead (nzherald.co.nz)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4259421 34 points
                  by
                  %a{:href => "user?id=te_chris"} te_chris
                  3 hours ago  |
                  %a{:href => "/r?fnid=gvNtiZONeT"} flag
                  |
                  %a{:href => "item?id=4259421"} 3 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 6.
                %td
                  %center
                    %a#up_4259704{:href => "vote?for=4259704&dir=up&by=geelen&auth=8cd1a4168d576d48f83cde4b90533a177a195c34&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4259704
                %td.title
                  %a{:href => "http://www.screenleap.com/extension/gmail/install"} Show HN: Share your screen from within Gmail with Screenleap browser extension
                  %span.comhead (screenleap.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4259704 10 points
                  by
                  %a{:href => "user?id=ttruong"} ttruong
                  1 hour ago  |
                  %a{:href => "/r?fnid=0h28J8ACZ7"} flag
                  |
                  %a{:href => "item?id=4259704"} discuss
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 7.
                %td
                  %center
                    %a#up_4259633{:href => "vote?for=4259633&dir=up&by=geelen&auth=c9fdd88ab2fa6d4b9aa80bee6440e20476a7833c&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4259633
                %td.title
                  %a{:href => "http://messymatters.com/expectorant/"} Stochastic, Nerdtastic Restaurant Bill Splitting
                  %span.comhead (messymatters.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4259633 16 points
                  by
                  %a{:href => "user?id=scottkrager"} scottkrager
                  1 hour ago  |
                  %a{:href => "/r?fnid=mLR2ffF4Q6"} flag
                  |
                  %a{:href => "item?id=4259633"} 11 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 8.
                %td
                  %center
                    %a#up_4258826{:href => "vote?for=4258826&dir=up&by=geelen&auth=38d5f09586c88b493660b5294bc0073ee981ae79&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4258826
                %td.title
                  %a{:href => "http://jackg.org/the-value-of-time"} The Value of Time
                  %span.comhead (jackg.org)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4258826 72 points
                  by
                  %a{:href => "user?id=bigjoecumbo"} bigjoecumbo
                  7 hours ago  |
                  %a{:href => "/r?fnid=tXEwRWWtBh"} flag
                  |
                  %a{:href => "item?id=4258826"} 31 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 9.
                %td
                  %center
                    %a#up_4259581{:href => "vote?for=4259581&dir=up&by=geelen&auth=3320ddaab918b67387d517dec3ac9df13dc7156f&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4259581
                %td.title
                  %a{:href => "http://www.washingtonpost.com/opinions/google-executives-say-technology-can-be-harnessed-to-fight-drug-cartels-in-mexico/2012/07/17/gJQACbXhrW_print.html"} Google execs: fight Mexico drug cartels with technology
                  %span.comhead (washingtonpost.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4259581 12 points
                  by
                  %a{:href => "user?id=SkyMarshal"} SkyMarshal
                  2 hours ago  |
                  %a{:href => "/r?fnid=3vdNv5lZjt"} flag
                  |
                  %a{:href => "item?id=4259581"} 5 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 10.
                %td
                  %center
                    %a#up_4257108{:href => "vote?for=4257108&dir=up&by=geelen&auth=78ce94f31bf15e9b3f3c775d796482ad01bd5e8f&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4257108
                %td.title
                  %a{:href => "https://plus.google.com/114259566451209869276/posts/ZNrsoqPWRA2"} Google+ grows 43% in June
                  %span.comhead (plus.google.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4257108 226 points
                  by
                  %a{:href => "user?id=vibrunazo"} vibrunazo
                  13 hours ago  |
                  %a{:href => "/r?fnid=FBTCqEoV9f"} flag
                  |
                  %a{:href => "item?id=4257108"} 158 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 11.
                %td
                  %center
                    %a#up_4257846{:href => "vote?for=4257846&dir=up&by=geelen&auth=25e900ce4237473d00d6c60c0c4c8a72fc354b18&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4257846
                %td.title
                  %a{:href => "http://www.scoutzie.com/HN"} Show HN: Scoutzie, 444 best mobile designers for hire.
                  %span.comhead (scoutzie.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4257846 148 points
                  by
                  %a{:href => "user?id=kirillzubovsky"} kirillzubovsky
                  11 hours ago  |
                  %a{:href => "/r?fnid=aPssJYcoo2"} flag
                  |
                  %a{:href => "item?id=4257846"} 64 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 12.
                %td
                  %center
                    %a#up_4258186{:href => "vote?for=4258186&dir=up&by=geelen&auth=ca199348f7e6ac15ba62ae7f4d7bbeb4008a7485&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4258186
                %td.title
                  %a{:href => "http://www.wired.com/geekdad/2012/07/donald-j-sobol-encyclopedia-brown/"} R.I.P. Donald J. Sobol, Encyclopedia Brown Author, 1924-2012
                  %span.comhead (wired.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4258186 106 points
                  by
                  %a{:href => "user?id=tokenadult"} tokenadult
                  10 hours ago  |
                  %a{:href => "/r?fnid=XCpnjar8Jp"} flag
                  |
                  %a{:href => "item?id=4258186"} 26 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 13.
                %td
                  %center
                    %a#up_4255738{:href => "vote?for=4255738&dir=up&by=geelen&auth=a14dcc70c84f674715fd90443ecf75902c4615bc&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4255738
                %td.title
                  %a{:href => "http://www.jasondavies.com/primos/"} Prime number patterns
                  %span.comhead (jasondavies.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4255738 294 points
                  by
                  %a{:href => "user?id=dmarinoc"} dmarinoc
                  18 hours ago  |
                  %a{:href => "/r?fnid=4ellOMywE7"} flag
                  |
                  %a{:href => "item?id=4255738"} 83 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 14.
                %td
                  %center
                    %a#up_4257498{:href => "vote?for=4257498&dir=up&by=geelen&auth=83f778d72022e7fe286d192ad536922da370f55c&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4257498
                %td.title
                  %a{:href => "https://www.blurity.com/blog/2012/07/17/how-i-converted-a-software-thief-into-a-customer/"} How I converted a software thief into a customer
                  %span.comhead (blurity.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4257498 130 points
                  by
                  %a{:href => "user?id=tghw"} tghw
                  12 hours ago  |
                  %a{:href => "/r?fnid=mewDc1CGIU"} flag
                  |
                  %a{:href => "item?id=4257498"} 60 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 15.
                %td
                  %center
                    %a#up_4257422{:href => "vote?for=4257422&dir=up&by=geelen&auth=776319f2243bb265ddf824b20baadf036fb265e3&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4257422
                %td.title
                  %a{:href => "http://www.wired.com/wiredenterprise/2012/07/nsa-accumulo-google-bigtable/"} NSA Mimics Google, Pisses Off Senate
                  %span.comhead (wired.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4257422 124 points
                  by
                  %a{:href => "user?id=lnguyen"} lnguyen
                  12 hours ago  |
                  %a{:href => "/r?fnid=2irRh2YFRL"} flag
                  |
                  %a{:href => "item?id=4257422"} 48 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 16.
                %td
                  %center
                    %a#up_4258069{:href => "vote?for=4258069&dir=up&by=geelen&auth=cb264cdac57ffd7e96ef631a35b81b2312333d95&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4258069
                %td.title
                  %a{:href => "https://www.thepaypalblog.com/2012/07/paypal-acquires-card-io/"} PayPal Acquires card.io
                  %span.comhead (thepaypalblog.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4258069 81 points
                  by
                  %a{:href => "user?id=v33ra"} v33ra
                  10 hours ago  |
                  %a{:href => "/r?fnid=A2v1ZH5hFq"} flag
                  |
                  %a{:href => "item?id=4258069"} 40 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 17.
                %td
                  %center
                    %a#up_4252274{:href => "vote?for=4252274&dir=up&by=geelen&auth=09927c7c56c9e14f58b72ac07fa5bf394f4b73f2&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4252274
                %td.title
                  %a{:href => "http://dealbook.nytimes.com/2012/07/16/googles-marissa-mayer-tapped-as-yahoos-chief/"} Google’s Marissa Mayer Tapped as Yahoo’s Chief
                  %span.comhead (nytimes.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4252274 942 points
                  by
                  %a{:href => "user?id=sahillavingia"} sahillavingia
                  1 day ago  |
                  %a{:href => "/r?fnid=L6dD5AjyH7"} flag
                  |
                  %a{:href => "item?id=4252274"} 338 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 18.
                %td
                  %center
                    %a#up_4255649{:href => "vote?for=4255649&dir=up&by=geelen&auth=008b85b68a32094fcf1cde740629bc11f437929c&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4255649
                %td.title
                  %a{:href => "http://www.danielwillingham.com/1/post/2012/05/the-latest-on-intelligence.html"} The Latest On Intelligence
                  %span.comhead (danielwillingham.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4255649 198 points
                  by
                  %a{:href => "user?id=danielford"} danielford
                  18 hours ago  |
                  %a{:href => "/r?fnid=9cBqE7XJfe"} flag
                  |
                  %a{:href => "item?id=4255649"} 143 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 19.
                %td
                  %center
                    %a#up_4258670{:href => "vote?for=4258670&dir=up&by=geelen&auth=3a31bba6367418e4b25ccf47dd13633a6ae1d034&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4258670
                %td.title
                  %a{:href => "http://blog.artillerygames.com/2012/07/six-impossible-problems.html"} Six Impossible Problems
                  %span.comhead (artillerygames.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4258670 40 points
                  by
                  %a{:href => "user?id=wallflower"} wallflower
                  7 hours ago  |
                  %a{:href => "/r?fnid=c4q28wxXr1"} flag
                  |
                  %a{:href => "item?id=4258670"} 30 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 20.
                %td
                  %center
                    %a#up_4258032{:href => "vote?for=4258032&dir=up&by=geelen&auth=8704786b4e6a79719c69ce44bd9704f52ba8df8f&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4258032
                %td.title
                  %a{:href => "http://torrentfreak.com/copyright-holders-punish-themselves-with-crazy-dmca-takedowns-120525/"} Copyright Holders Punish Themselves With Crazy DMCA Takedowns
                  %span.comhead (torrentfreak.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4258032 64 points
                  by
                  %a{:href => "user?id=lightspot"} lightspot
                  10 hours ago  |
                  %a{:href => "/r?fnid=Ma4F4wklmF"} flag
                  |
                  %a{:href => "item?id=4258032"} 11 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 21.
                %td
                  %center
                    %a#up_4258425{:href => "vote?for=4258425&dir=up&by=geelen&auth=41b871290ace6724cf66736b087b285c7a702672&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4258425
                %td.title
                  %a{:href => "http://cliffdailey.posterous.com/a-retweet-from-michael-arrington-is-worth"} Here's life after a Michael Arrington retweet on Twitter
                  %span.comhead (cliffdailey.posterous.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4258425 72 points
                  by
                  %a{:href => "user?id=cliffdailey"} cliffdailey
                  9 hours ago  |
                  %a{:href => "/r?fnid=futFZtX4UX"} flag
                  |
                  %a{:href => "item?id=4258425"} 19 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 22.
                %td
                  %center
                    %a#up_4256302{:href => "vote?for=4256302&dir=up&by=geelen&auth=88c6ee6cfa71d850534c1f59b9a03b8bc2766538&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4256302
                %td.title
                  %a{:href => "http://blog.heroku.com/archives/2012/7/17/buildpacks/"} Buildpacks: Heroku for Everything
                  %span.comhead (heroku.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4256302 123 points
                  by
                  %a{:href => "user?id=lstoll"} lstoll
                  16 hours ago  |
                  %a{:href => "/r?fnid=6yAyKxhCmJ"} flag
                  |
                  %a{:href => "item?id=4256302"} 35 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 23.
                %td
                  %center
                    %a#up_4256800{:href => "vote?for=4256800&dir=up&by=geelen&auth=36cad7448b7c1024cb5a19500db29ff130a20074&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4256800
                %td.title
                  %a{:href => "http://www.geek.com/articles/games/torchlight-art-assets-stolen-used-in-ios-game-armed-heroes-20120717/"} Torchlight art assets stolen, used in iOS game Armed Heroes
                  %span.comhead (geek.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4256800 104 points
                  by
                  %a{:href => "user?id=ukdm"} ukdm
                  14 hours ago  |
                  %a{:href => "/r?fnid=uYujat11ur"} flag
                  |
                  %a{:href => "item?id=4256800"} 71 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 24.
                %td
                  %center
                    %a#up_4256617{:href => "vote?for=4256617&dir=up&by=geelen&auth=f84777c659a7f348d9f7262db7005cd4aa24ce88&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4256617
                %td.title
                  %a{:href => "http://www.blockr.me/"} Show HN: Block yourself from the Internet until you write or code each day
                  %span.comhead (blockr.me)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4256617 110 points
                  by
                  %a{:href => "user?id=jsm"} jsm
                  15 hours ago  |
                  %a{:href => "/r?fnid=cnG9d2AMdr"} flag
                  |
                  %a{:href => "item?id=4256617"} 93 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 25.
                %td
                  %center
                    %a#up_4257979{:href => "vote?for=4257979&dir=up&by=geelen&auth=5dcb6d79a47f4b0874938675332e17216b382ad3&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4257979
                %td.title
                  %a{:href => "http://blog.tapengage.com/2012/07/tapengage-joining-dropbox/"} TapEngage (YC S11) acquired by Dropbox
                  %span.comhead (tapengage.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4257979 52 points
                  by
                  %a{:href => "user?id=sean_lynch"} sean_lynch
                  10 hours ago  |
                  %a{:href => "/r?fnid=6annpm0KxG"} flag
                  |
                  %a{:href => "item?id=4257979"} 13 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 26.
                %td
                  %center
                    %a#up_4256626{:href => "vote?for=4256626&dir=up&by=geelen&auth=43db9ce615c12accf8f6359ce59a3038cc68ca40&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4256626
                %td.title
                  %a{:href => "http://arstechnica.com/information-technology/2012/07/raspberry-pi-production-grows-35-linux-computer-now-available-in-bulk/"} Raspberry Pi production grows, $35 Linux computer now available in bulk
                  %span.comhead (arstechnica.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4256626 94 points
                  by
                  %a{:href => "user?id=shawndumas"} shawndumas
                  15 hours ago  |
                  %a{:href => "/r?fnid=VajbXXSkLN"} flag
                  |
                  %a{:href => "item?id=4256626"} 58 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 27.
                %td
                  %center
                    %a#up_4256801{:href => "vote?for=4256801&dir=up&by=geelen&auth=3dd22e1859190101c1583ab622dd44de4b081a03&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4256801
                %td.title
                  %a{:href => "http://www.whispersys.com/redphone-now-open-source.html"} RedPhone is now Open Source
                  %span.comhead (whispersys.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4256801 80 points
                  by
                  %a{:href => "user?id=dpeck"} dpeck
                  14 hours ago  |
                  %a{:href => "/r?fnid=5SjeAxxdwI"} flag
                  |
                  %a{:href => "item?id=4256801"} 18 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 28.
                %td
                  %center
                    %a#up_4255635{:href => "vote?for=4255635&dir=up&by=geelen&auth=b1b3b788b08ef8726329afda5b75af98d0d40d1a&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4255635
                %td.title
                  %a{:href => "http://allthingsd.com/20120717/autodesk-buys-mobile-video-shooting-star-socialcam-for-60m/"} Autodesk Buys Socialcam for $60M
                  %span.comhead (allthingsd.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4255635 117 points
                  by
                  %a{:href => "user?id=Straubiz"} Straubiz
                  18 hours ago  |
                  %a{:href => "/r?fnid=nE8EWNXTBW"} flag
                  |
                  %a{:href => "item?id=4255635"} 54 comments
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 29.
                %td
                %td.title
                  %a{:href => "item?id=4258880"} YC S12 Company needs Front-end Javascript Developer
              %tr
                %td{:colspan => "2"}
                %td.subtext 6 hours ago
              %tr{:style => "height:5px"}
              %tr
                %td.title{:align => "right", :valign => "top"} 30.
                %td
                  %center
                    %a#up_4255589{:href => "vote?for=4255589&dir=up&by=geelen&auth=b7fefc66d5ee228810cd2a99a0f467d2b18ef682&whence=%6e%65%77%73", :onclick => "return vote(this)"}
                      %img{:border => "0", :hspace => "2", :src => "http://ycombinator.com/images/grayarrow.gif", :vspace => "3"}/
                    %span#down_4255589
                %td.title
                  %a{:href => "http://www.extremetech.com/extreme/132918-the-laser-powered-bionic-eye-that-gives-576-pixel-grayscale-vision-to-the-blind"} Laser-powered bionic eye gives vision to the blind
                  %span.comhead (extremetech.com)
              %tr
                %td{:colspan => "2"}
                %td.subtext
                  %span#score_4255589 130 points
                  by
                  %a{:href => "user?id=doc4t"} doc4t
                  18 hours ago  |
                  %a{:href => "/r?fnid=V0mDLtbBNo"} flag
                  |
                  %a{:href => "item?id=4255589"} 32 comments
              %tr{:style => "height:5px"}
              %tr{:style => "height:10px"}
              %tr
                %td{:colspan => "2"}
                %td.title
                  %a{:href => "/x?fnid=2NrsRJl0E6", :rel => "nofollow"} More
        %tr
          %td
            %img{:height => "10", :src => "http://ycombinator.com/images/s.gif", :width => "0"}/
            %table{:cellpadding => "1", :cellspacing => "0", :width => "100%"}
              %tr
                %td{:bgcolor => "#ff6600"}
            %br/
            %center
              %span.yclinks
                %a{:href => "lists"} Lists
                |
                %a{:href => "rss"} RSS
                |
                %a{:href => "http://ycombinator.com/bookmarklet.html"} Bookmarklet
                |
                %a{:href => "http://ycombinator.com/newsguidelines.html"} Guidelines
                |
                %a{:href => "http://ycombinator.com/newsfaq.html"} FAQ
                |
                %a{:href => "http://ycombinator.com/newsnews.html"} News News
                |
                %a{:href => "item?id=363"} Feature Requests
                |
                %a{:href => "http://ycombinator.com"} Y Combinator
                |
                %a{:href => "http://ycombinator.com/apply.html"} Apply
                |
                %a{:href => "http://ycombinator.com/lib.html"} Library
              %br/
              %br/
              %form{:action => "http://www.hnsearch.com/search#request/all", :method => "get"}
                Search:
                %input{:name => "q", :size => "17", :type => "text", :value => ""}/
              %br/
